<!--
  Copyright (c) 2022 KITE <support@quantum-kite.com>

  KITE is a free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation - version 3
-->


<!-- Footer -->
<footer class="md-footer">

    <!-- Link to previous and/or next page -->
    {% if page.previous_page or page.next_page %}
    <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer.title') }}">

        <!-- Link to previous page -->
        {% if page.previous_page %}
        {% set direction = lang.t("footer.previous") %}
        <a href="{{ page.previous_page.url | url }}" class="md-footer__link md-footer__link--prev"
            aria-label="{{ direction }}: {{ page.previous_page.title | e }}" rel="prev">
            <div class="md-footer__button md-icon">
                {% include ".icons/material/arrow-left.svg" %}
            </div>
            <div class="md-footer__title">
                <div class="md-ellipsis">
                    <span class="md-footer__direction">
                        {{ direction }}
                    </span>
                    {{ page.previous_page.title }}
                </div>
            </div>
        </a>
        {% endif %}

        <!-- Link to next page -->
        {% if page.next_page %}
        {% set direction = lang.t("footer.next") %}
        <a href="{{ page.next_page.url | url }}" class="md-footer__link md-footer__link--next"
            aria-label="{{ direction }}: {{ page.next_page.title | e }}" rel="next">
            <div class="md-footer__title">
                <div class="md-ellipsis">
                    <span class="md-footer__direction">
                        {{ direction }}
                    </span>
                    {{ page.next_page.title }}
                </div>
            </div>
            <div class="md-footer__button md-icon">
                {% include ".icons/material/arrow-right.svg" %}
            </div>
        </a>
        {% endif %}
    </nav>
    {% endif %}

    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            {% include "partials/copyright.html" %}

            <!-- Social links -->
            {% if config.extra.social %}
            {% include "partials/social.html" %}
            {% endif %}
        </div>
    </div>
</footer>